body{
  font-size: large;
  font-weight: 700;
  background-color: rgb(228, 165, 232);
}

#playing-cards{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.card{
  border: 1px solid black;
  width: 250px;
  height: 350px;
  justify-content: space-between;
  display: flex;
  background-color: aliceblue;
  font-size: 40px;
  font-weight: bold;
}

.left{
  align-self: flex-start;
}

.middle{
  align-self: center;
  display: flex;
  flex-direction: column;
}

.right{
  align-self: flex-end;
}