*{
  box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(#b3e6ff, #b3e6ff 60%, green 60%);
}

#house{
  position: relative;
  width: 500px;
  height: 400px;
  background-color: rgb(255, 111, 111);
  border: solid 7px rgb(95, 12, 12);
  margin: auto;
}

#house div{
  position: absolute;
}

#roof{
  width: 100%;
  position: absolute;
  height: 100px;
  background:rgb(224, 31, 31);
  top: 0;
  border: solid 7px rgb(95, 12, 12);

}

#door{
  background-color: rgb(255, 252, 249);
  border: solid 7px rgb(95, 12, 12);
  position: absolute;
  height: 180px;
  width: 150px;
  bottom: 0;
  justify-content: center;
  left: 165px;
  right: 200px
}

#window-1{
  background-color: rgb(242, 201, 143);
  border: solid 7px rgb(95, 12, 12);
  position: absolute;
  height: 100px;
  width: 110px;
  top: 150px;
  left: 20px;
}

#window-2{
  background-color: rgb(242, 201, 143);
  border: solid 7px rgb(95, 12, 12);
  position: absolute;
  height: 100px;
  width: 110px;
  top: 150px;
  right: 20px;
}

#chimney{
  background-color: rgb(255, 255, 255);
  border: solid 2px rgb(0, 0, 0);
  position: absolute;
  width: 110px;
  height: 70px;
  top: -70px;
  left: 300px;
  z-index: -1;
}