.todo-list {
  list-style: none;
  padding: 0;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
  font-family: Arial, sans-serif;
  font-size: 18px;

}

li{
  margin-bottom: 20px;
  background-color: rgb(178, 169, 255);
  border-radius: 0.5rem;
  height: auto;
  padding-top: 20px;
}

.sub-item{
  padding-top: 30px;
  padding-bottom: 30px;
  list-style: square;
}

.sub-item-link{
  text-decoration: none;
  color: rgb(255, 84, 84);
  font-size: 16px;
}

.sub-item-link:hover{
  color: #a81717;;
}

.sub-item-link:active{
  color: #3b0202;
}

.sub-item-link:visited{
  color: rgb(103, 80, 80);
}

.sub-item-link:focus{
  outline: 2px solid black;
}