body{
  font-family: Arial, Helvetica, sans-serif;
}

table{
  border-collapse: collapse;
  width: 97vw;
  max-width: 700px;
  margin: auto;
}

tr {
  height: 37px;
}

tr th{
  text-align: center;
  vertical-align: middle;
  background-image: linear-gradient(hsl(197, 92%, 77%, 0.60), hsl(197, 92%, 50%, 0.60)) ;
}

tr{
  text-align: center;
}

tr[class="read"]{
  background-image: linear-gradient(hsl(120, 100%, 85%, 0.6), hsl(120, 100%, 65%, 0.6));
}

tr[class="to-read"]{
  background-image: linear-gradient(hsl(5, 100%, 82%), hsl(5, 88%, 60%));
}

tr[class="in-progress"]{
  background-image: linear-gradient(hsl(40, 100%, 85%, 0.60), hsl(40, 100%, 65%, 0.6));
}

span{
  display: inline-block;
}

tr[class="read"] span[class="status"]{
  background-image: linear-gradient(hsla(120, 42%, 52%, 0.6), hsla(120, 71%, 33%, 0.6));
  border: solid 1px hsla(120, 97%, 15%, 0.6);
  border-radius: 50px;
}

tr[class="to-read"] span[class="status"]{
  background-image: linear-gradient(hsl(5, 63%, 56%), hsl(0, 89%, 49%));
  border: solid 1px hsla(0, 94%, 27%, 0.6);
  border-radius: 50px;
}

tr[class="in-progress"] span[class="status"]{
  background-image: linear-gradient(hsla(40, 75%, 64%, 0.6), hsla(40, 97%, 49%, 0.6));
  border: solid 1px hsla(40, 97%, 25%, 0.6);
  border-radius: 50px;
}

span[class="status"],
span[class^="rate"]{
  height: 1.15em;
  width: 7em;
  padding: 0.3em;
}

span[class^="rate"] > span{
  height: 1em;
  width: 1em;
  background-color: #ffffff;
  border-radius: 50%;
  border: 1px solid #4a4a4a;
  margin: 1.5px;
}

span[class~="one"] :nth-child(1){
  background-image: linear-gradient(hsl(50, 100%, 70%), hsl(50, 100%, 50%));
}

span[class~="two"] :nth-child(1),
span[class~="two"] :nth-child(2){
  background-image: linear-gradient(hsl(50, 100%, 70%), hsl(50, 100%, 50%));
}

span[class~="three"] span{
  background-image: linear-gradient(hsl(50, 100%, 70%), hsl(50, 100%, 50%));
}
