h1{
    text-align: center;
}

body{
    background-color: #f4f4f4;
}

.color-box{
    width: 200px;
    height: 200px;
    border-radius: 10px;
    display: inline-block;
    margin: 5px;
}
.color1{
    background-color: #e33333;
}

.color2{
    background-color: rgb(31, 72, 169);
}

.color3{
    background-color: chartreuse;
}

.color4{
    background-color: hsl(32, 83%, 46%);
}

.color5{
    background-color: #7929cb;
}